var new_comment = $("<%= escape_javascript(render(:partial => @comment))%>").hide();
$("div#comments").prepend(new_comment);
$("div#comment_<%= @comment.id %>").fadeIn("slow");
$("#new_comment")[0].reset();
